 <div id="output">
  <h1>Listado de Productos</h1>
     <div>
      <ul>
        {{#each productos}}
        <li>
            <h3>{{this.title}}</h3>
            <p>descripcion: {{this.description}}</p>
            <p>codigo: {{this.code}}</p>
            <p>precio: ${{this.price}}</p>
            <p>stock: ${{this.stock}}</p>
            <p>categoria: {{this.category}}</p>
            <p>id: {{this.id}}</p>
        </li>
        {{/each}}
      </ul>
      </div>
 </div>
  <script src="/socket.io/socket.io.js"></script>
  {{!-- <script src="../public/form.js"></script> --}}

